doctype html
html
  head
    meta(charset='utf-8')
  title Woky
  body
    form(action='upload' method='post' enctype="multipart/form-data")
      p
      input(type='file' name='userfile')
      p
      input(type='submit')
    div
      p
      a(href='/') Home
